################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hahn.ApplicationProcess.Application/.vs/Hahn.ApplicationProcess.Application/v16/Server/sqlite3/db.lock
